{{#if admin}}
<div class="container">
<div class="jumbotron text-center my-4">
	<div class="container">
		<h1 class="display-4">Tristan Chew Hui Feng</h1>
		<p class="lead">ex SIT, SIDM tech lead</p>
	</div>
	<br>
</div>
</div>
{{else}}
<div class="container">
<div class="jumbotron text-center my-4">
	<div class="container">
		<h1 class="display-4">Temp Name</h1>
		<p class="lead">blah blah blah</p>
	</div>
	<br>
</div>
</div>
{{/if}}
